body {
    background: url(wp1.jpg);
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

h1 {
    color: rgb(250, 239, 93);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
}

h2 {
    text-align: center;
    color: #000099;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
    background: linear-gradient(to right, #9999ff 0%, #00ffcc 100%);
}

#redondo,
#restriccion,
#votar {
    border-radius: 20px 20px;
    height: 30px;
    width: 300px
}

#descripinput {
    border-radius: 20px 20px;
    height: 30px;
    width: 500px
}

#opciones_m,
#opciones_v,
#opciones_b {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contenido{
    width: 400px;
    border-radius: 5px;
    border: 2px solid rgb(250, 239, 93);
    min-height: 50px;
    max-height: 400px;
    overflow: auto;
}

#contenido>div,
#votacion>div,
#mivoto>div {
    margin: 5px;
    padding: 5px;
    position: relative;
    border: 1px solid gainsboro;
    border-radius: 5px;
    color: whitesmoke;
}

#contenido>div div {
    border-radius: 5px;
    text-align: right;
    font-size: 0em;
    transition: all 0.5s ease-out;
    transition-delay: 0.2s;
}

#contenido>div:hover div {
    transition: all 0.5s ease-in;
    transition-delay: 0.5s;
    font-size: 1.5em;
}

#contenido>div:hover {
    background-color: rgba(137, 43, 226, 0.1);
}

#mostrarDescr {
    text-align: center;
    color: rgb(41, 118, 153);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
}

#mostrarOpc {
    color: rgb(243, 243, 243);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70%;
}

#votacion {
    width: 400px;
    border-radius: 5px;
    border: 2px solid rgb(250, 239, 93);
    min-height: 50px;
    max-height: 400px;
    overflow: auto;
    color: rgb(243, 243, 243);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
}

#votacion_priv{
    width: 400px;
    border-radius: 5px;
    border: 2px solid rgb(250, 239, 93);
    min-height: 50px;
    max-height: 400px;
    overflow: auto;
    color: rgb(243, 243, 243);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    filter:blur(6px);
    transition-duration:5s;
}
#votacion_priv:hover{
    filter:blur(0px);
    transition-duration:5s;
}
